html, body {
    padding: 0;
    margin: 0;
}

.header {
    /* background-color: hsl(356, 100%, 66%); */
    background: url('/images/bg-pattern-intro.svg') hsl(356, 100%, 66%);
    background-position: right 80% bottom 48%;
    height: 60vh;
    border-radius: 0px 0px 0px 130px;
}

.bg-pattern {
    position: absolute;
    left: 0px;
}
